RewriteEngine on

# Deny access to hidden files and directories
RewriteRule "(^|/)\." - [F]

# If the request refers to an existing file or directory, allow direct access
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise process request with index.php
RewriteRule (.*) index.php/$1 [L]

